<div class="top">
  <h1><b>Ласкаво просимо!</b></h1>
  <h3>Пропонуємо переглянути основні наші можливості</h3>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="left" routerLink="/fractal">
      <img src="assets/images/fractal.jpg" alt="Fractal">
      <div class="center">
        <h2>Побудова фракталів</h2>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="right" routerLink="/photoshop">
      <img src="assets/images/person.jpg" alt="Photoshop">
      <div class="center">
        <h2>Редагування зображень</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="left" routerLink="/transform">
      <img src="assets/images/plane.jpg" alt="Transformation">
      <div class="center">
        <h2>Афінні перетворення</h2>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="right" routerLink="/docs">
      <img src="assets/images/docs.jpg" alt="Docs">
      <div class="center">
        <h2>Довідка та документація</h2>
      </div>
    </div>
  </div>
</div>
