<app-header></app-header>
<div class="row">
  <div class="col-xs-3">
    <form [formGroup]="fractalForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="fractType">Виберіть тип фракталу</label>
        <select class="form-control" name="fractType" id="fractType" formControlName="fractType">
          <option value="broun" selected>Броунівський рух</option>
          <option value="plasma">Плазма</option>
        </select>
      </div>
      <div class="form-group">
        <label for="iter">Виберіть кількість ітерацій</label>
        <input class="form-control" formControlName="iter" name="iter" id="iter" type="number" min="1" max="99"
          value="1">
      </div>
      <button [disabled]="loading" class="btn btn-primary center" type="submit">Побудувати</button>
    </form>
  </div>
  <div class="col-xs-8">
    <div [hidden]="loading" id="for-canvas"></div>
    <div [hidden]="!loading" class="loader"></div>
  </div>
</div>
